<div class="container mt-5">
    <h3 style="text-align: center; color: blanchedalmond;">
        Update Product
    </h3>
    <form ngForm="form" (submit)="saveProduct()">
        <div class="form-group">
            <label for="pName">Name :</label>
            <input  name="Name" id="pName" [(ngModel)]="prd.Name" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="pPrice">Price:</label>
            <input name="Price" type="number" id="pPrice"  [(ngModel)]="prd.Price" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="pCategory">Category :</label>
            <input name="Category" id="pCategory" [(ngModel)]="prd.Category" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-success">
            Save
        </button>
        <button (click)="goBack()" class="btn btn-danger">
            Back
        </button>
    
    </form>
</div>

